.TaskList {
  padding: 10px 0px;
}
span {
  font-size: 30px;
  padding-left: 10px;
}
.Description {
  padding-left: 30px;
}
.Title {
  font-size: 50px;
}
span.completed.text-muted {
  text-decoration: line-through;
}
